# **Importing Libraries**

In [ ]:
import numpy as np 
import pandas as pd

**Creating Dictionary**

In [ ]:
dict1={
    
"Name":['Prasad','Dananjaya','Wilagama'],"marks":[23,25,30],"location":['SLIIT','UOC','UOM']
}

**Assigning As a Tabular Format**

In [ ]:
df=pd.DataFrame(dict1)

**Disply the Output**

In [ ]:
df

        Name  marks location
0     Prasad     23    SLIIT
1  Dananjaya     25      UOC
2   Wilagama     30      UOM

**Save as Name.csv**

In [ ]:

df.to_csv('Name.csv')

**Taking Two From the Head**

In [ ]:
df.head(2)

        Name  marks location
0     Prasad     23    SLIIT
1  Dananjaya     25      UOC

**Taking Two From the Tail**

In [ ]:
df.tail(2)

        Name  marks location
1  Dananjaya     25      UOC
2   Wilagama     30      UOM

**Taking Five Number Summery and Quartiles**

In [ ]:
df.describe()

           marks
count   3.000000
mean   26.000000
std     3.605551
min    23.000000
25%    24.000000
50%    25.000000
75%    27.500000
max    30.000000